
body {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    /* display: grid; */
    grid-template-rows: (1fr 10fr 8fr, 7fr);
    display: flex;
    flex-direction: column;direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
}
header{
grid-area: header;
}
.topnav {
    background-color: rgba(0, 0, 0, 0.733);
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    font-size: 3vb;
    color: white;
    z-index: 999;
    position: fixed;
    width: 97vw;
    padding-top: 0%;
}
.topnav a {
    color: aliceblue;
    float: right;
    font-size: 17px;
    padding-top: 23px;
    padding-right: 16px;
    padding-bottom: 23px;
    padding-left: 23px;
    text-decoration: none;
}
.topnav #logo {
    color: aliceblue;
    float: left;
    text-decoration: underline;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 23px;
    padding-left: 23px;
    font-size:large;
    font-family: Brush script MT;
}
.topnav a:hover {
    /* background-color:#8f8069; */
    opacity: 0.6;
    color:#8f8069;
    
}
footer {
    background-color: black;
    color: aliceblue;
  
}
.divfooter {
    display: flex;
    height: 150px;
    width: 50%;
    margin: auto;
}
.footerimg {
    height: 40px;
    width: 40px;
}
.footerword {
    width: 25%;
    text-align: center;
    padding-top: 15px;
}
.footernum {
    font-size: 200%;
}
.ikon img {
    height: 38px;
    width: 38px;
    padding-left: 0.2%;
    padding-right: 0.2%;
    padding-bottom: 0.4%;
    padding-top: 0.4%;
}
.ikon {
    text-align: center;
    padding-bottom: 1%;
}
.mainvideo{
        width: 99vw;
        display: grid;
        grid-row: 2 / 3;
        height: 100%;
        padding-top: 0;
        z-index: 1;
    }
    a {
    text-decoration: none;
    color: white;

}
.arrow {
    width: 5vw;
    position: absolute;
    top: 13vh;
    left: 12vw;
    z-index: 2;
}
.text1{
    top: 30%;
    margin: auto;
    flex: 1;
    text-align: right;
    padding: 20px;
    font-family: 'Bauhaus 93';
    font-size: 8vh;
  }
  .top1 {
    font-size: 88px !important;
    font-weight: bolder;
    margin-right: 62vh;
    color: white;
}
   .top2{
    margin-top: 2%;
    font-family: Brush script MT;
    font-size: 30px !important;
    text-align: center !important;
   }
   .toptext {
    text-align: center;
    color: black;
    font-size: x-large;
}
 .allmain{
    display:grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "mainpart1" 
    "mainpart2"
    "mainpart3" ;
 }

    .mainpart1{
        height: 320px;
        background-color:rgba(0, 0, 0, 0.53);

    }
     .mainpart1 .Text2 {
        margin: auto;
        flex: 1;
        text-align: right;
        padding-left: 0px;
        padding: 10px;
        font-size: large;
       } 
       .mainpart2 {
        margin-top: 11vh;
        background-color: #8f8069;
        color: rgba(0, 0, 0, 0.361);
        height: 51vh;
        width: 100vw;}
.text2 {
    font-size: 2.3vh;
    margin: 6vw;
    /* text-align: start; */
    margin-top: 34vh;}
.button{
    background-color: #8f8069;
    height: 7%;
    width: 25%;
    border: 3px solid black;
    border-width: 2px;
    padding: 2%;
    border-radius: 5px;
    font-size: 0.7em;
    margin-right: 12%;

}
.button:hover{
    background-color: rgba(255, 255, 255, 0.403);
}
#text1 {
    grid-area: text1;
    margin-left: 0vh;
    padding: 3vw;
    text-align: justify;
}
#text2{
    grid-area: text2;
    margin-left: 0vh;
    padding: 3vw;
    text-align: justify;
}
#text3{
    grid-area: text3;
    margin-left: 0vh;
    padding: 3vw;
    text-align: justify;
}
.mainpart3 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
        "text1 text2 text3"
        "text1 text2 text3"
        "text1 text2 text3";
}
.title{
    font-size: x-large;
    font-weight: 900;
    text-align: right;
}
.text3{
    text-align: center;
    color: aliceblue;
    font-size:100%;
    padding-top: 5vh;
} #issue{  
 color: #8f8069;
font-family: "Open Sans Hebrew", Sans-serif;
font-weight: bolder;
grid-area: text2;
font-size: xx-large;
margin-top: 10px; 
 text-align: center;
margin-right: 0%;
}
#goodss {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-top: 3%; */
    /* width: 68vw; */
    MARGIN-RIGHT: 15vw;
    MARGIN-LEFT: 13vh;
    align-content: flex-start;
    /* gap: 1vw; */
}
.pbig{
    color: black;
    font-family: var(--myfount);
    font-size: 2.5rem;
    width: 17%;
    margin-right: 40%;
    margin-top: 5%;
}.img2{
    position: absolute;
    width: 80%;
    height: 100%;
    /* margin-top:2px; */
}.good{
    width: 22vw;
    height: 30vh;
    margin: 1%;
    position: relative;
}
  #footer1{
    margin-left: -11px;
    margin-bottom:-40px;
} 
  table {
    width: 69%;
    margin-top: 2%;
    margin-right: 14%;
    font-family: Arial, sans-serif;
    text-align: right;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #8f8069;
}
tr:nth-child(even) {
    background-color:  #979797;
}
.h11 {
    margin-right: 15vw;
    margin-top: 0%;
}.tafrit {
   background-color: #8f8069;
   height: 100px;
   width: 100px;
   border-radius: 8px;
   text-align: center;
   position: absolute;
   display: none;
   /* border: black solid 5px; */
   color: black;
   transition: background-color 4s ease;
   margin-top: 7vh;
}
.tafrit:hover {
   background-color:rgba(0, 0, 0, 0.538);
}
#ttt:hover {
   position: relative;
   .tafrit {
      display: block;
   }
}
.dis {
   display: flex;
   flex-direction: column;
}
@keyframes mm {
   0% {
      background-color: black;
      width: 40px;
      transform: rotate(360deg);
      /* animation-duration: 2s linear infinite; */
   }
   100% {
      width: 5%;
      background-color:#8f8069;
   }
}#w{
   text-decoration: none;
   padding: 1%;
   text-align: justify;
}#chat {
    position: fixed;
    background-color: blue;
    color: white;
    border-radius: 15px;
    height: 5%;
    width: 5%;
    text-align: center;
     animation: mm 4s infinite; 
    left: 6%;
    top: 90%;
}
 
 #chat:hover {
    cursor: pointer;
 }
 
 #fontchat {
    font-size: 50%;
    margin-top:50%;
 }
@media only screen and (max-width:768px){
    .text2 {
        font-size: 2.3vh;
        margin: 6vw;
        margin-top: 51vh;
    }
    .top1 {
        font-size: 34px !important;
        font-weight: bolder;
        margin-right: 27vh;
        color: white;
        margin-top: 20vh;
    }
    .arrow {
        width: 8vw;
        position: absolute;
        top: 25vh;
        left: 39vw;
        z-index: 2;
    }
   .topnav a {
        color: aliceblue;
        float: right;
        font-size: 35%;
        padding-top: 3vh;
        padding-right: 0vh;
        padding-bottom: -1vh;
        padding-left: 3vh;
        text-decoration: none;
    }
        #goodss {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            MARGIN-RIGHT: 13vw;
            MARGIN-LEFT: 17vh;
            align-content: flex-start;
            gap: 1vw;
        }
        .mainpart3 {
            display: block;
            grid-template-columns: 33% 33% 33%;
            grid-template-areas:
                "text1 text2 text3"
                "text1 text2 text3"
                "text1 text2 text3";
        }   
        .footerword {
            text-align: center;
            padding-top: 2vh;
            gap: 2vw;
            margin: 2vw;
        } 
        .pbig {
            color: black;
            font-family: var(--myfount);
            font-size: 2rem;
            width: 17%;
            margin-right: 40%;
            margin-top: 5%;
        }
}
@media only screen and (max-width:320px){
    .mainvideo {
        object-fit: fill;
        height: 52vh;
        width: 122vw;
        margin: 0%;
        z-index: 1;
        position: relative;
    }
    .topnav {
        background-color: rgb(0, 0, 0);
        position: absolute;
        height: 8%;
        width: 122%;
        top: 0;
        opacity: 0.7;
        z-index: 2;
    }
    .topnav #logo {
        color: aliceblue;
        float: left;
        text-decoration: underline;
        padding-top: 0.5%;
        padding-right: 1px;
        padding-bottom: 10px;
        padding-left: 2%;
        font-size: small;
        font-family: Brush script MT;
    }.topnav a {
        color: aliceblue;
        float: right;
        font-size: 50%;
        padding-top: 3vh;
        padding-right: 0vh;
        padding-bottom: -1vh;
        padding-left: 5vh;
        text-decoration: none;
    }.top1 {
        font-size: 29px !important;
        font-weight: bolder;
        margin-right: 16vh;
        color: white;
        margin-top: 11vh;
    }.divfooter {
        display: flex
    ;
        height: 153px;
        width: 65%;
        margin: auto;
    }
    .arrow {
        width: 12vw;
        position: absolute;
        top: 21vh;
        left: 29vw;
        z-index: 2;
    }
    .text2 {
        font-size: 1.3vh;
        margin: 6vw;
        margin-top: 23vh;
    }    .mainpart2 {
        margin-top: 2vh;
        background-color: #8f8069;
        color: rgba(0, 0, 0, 0.361);
        height: 57vh;
        width: 122vw;
    }
    .img2 {
        position: absolute;
        width: 95vw;
        height: 30vh;
        /* margin-top: 2px; */
        flex-direction: column;
    }

    #footer1 {
        margin-left: -21vw;
        margin-bottom: -40px;
    }
    .pbig {
        color: black;
        font-family: var(--myfount);
        font-size: 1.5rem;
        width: 17%;
        margin-right: 40%;
        margin-top: 5%;
    }
    #chat{
        left: 37%;
        z-index: 5;
    }
}

