body{
    background-image: url(pages/netfree.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    margin-top: 100px;
}