
body {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    /* display: grid; */
    /* grid-template-rows: (1fr 10fr 8fr, 7fr); */
    display: flex;
    flex-direction: column;direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;    background-image: url(pages/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
header{
grid-area: header;
}
.topnav {
    background-color: rgba(0, 0, 0, 0.733);
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    font-size: 3vb;
    color: white;
    z-index: 999;
    position: fixed;
    width: 97vw;
    padding-top: 0%;
}
.topnav a {
    color: aliceblue;
    float: right;
    font-size: 17px;
    padding-top: 23px;
    padding-right: 16px;
    padding-bottom: 23px;
    padding-left: 23px;
    text-decoration: none;
}
.topnav #logo {
    color: aliceblue;
    float: left;
    text-decoration: underline;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 23px;
    padding-left: 23px;
    font-size:large;
    font-family: Brush script MT;
}
.topnav a:hover {
    /* background-color:#8f8069; */
    opacity: 0.6;
    color:#8f8069;
    
}
footer {
    background-color: black;
    color: aliceblue;
  
}
.divfooter {
    display: flex;
    height: 150px;
    width: 50%;
    margin: auto;
}
.footerimg {
    height: 40px;
    width: 40px;
}
.footerword {
    width: 25%;
    text-align: center;
    padding-top: 15px;
}
.footernum {
    font-size: 200%;
}
.ikon img {
    height: 38px;
    width: 38px;
    padding-left: 0.2%;
    padding-right: 0.2%;
    padding-bottom: 0.4%;
    padding-top: 0.4%;
}
.ikon {
    text-align: center;
    padding-bottom: 1%;
}
.mainvideo{
        width: 99vw;
        display: grid;
        grid-row: 2 / 3;
        height: 100%;
        padding-top: 0;
        z-index: 1;
    }
    a {
    text-decoration: none;
    color: white;
}
.pnia{
 margin-top: 100px;
}
.izuv{
/*    
     height:350px;
    width: 40%; */
    margin: 5% auto 5% auto;
    border-radius: 5px;
    padding: 184px;
    direction: rtl;
    color:black;
    text-align: center;
}
input,select{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 8px;
    padding: 12px;
    border: none;
    border-radius: 4px;
}
select{  padding: 7px;}
.room{  padding: 7px;}
marquee{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    behavior: scroll; 
}
.marq{
    width: 80%;
    border-radius: 4px;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.sumbit {
    /* font-size: 14px; */
    text-decoration: auto;
    width: 40%;
    /* margin-right: 64%; */
    background-color: #8f8069;
    color: white;
    padding: 1%;
    border: none;
    /* border-radius: 4px; */
}
.sumbit:hover{
    opacity: 0.7;
} 
.center{
    position: relative;
    top: 7vh;
}body {
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
}
header{
grid-area: header;
}
.arrow {
    width: 5vw;
    position: absolute;
    top: 9vh;
    left: 14vw;
    z-index: 2;}

 @media only screen and (max-width:768px){
    .topnav #logo {
        color: aliceblue;
        float: left;
        text-decoration: underline;
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 23px;
        padding-left: 23px;
        font-size: medium;
        font-family: Brush script MT;}
        h1{
            font-size: 40px;
        }
        .topnav a {
            color: aliceblue;
            float: right;
            font-size: 2vw;
            padding-top: 3vh;
            padding-right: 0vh;
            padding-bottom: -1vh;
            padding-left: 3vh;
            text-decoration: none;
        }
        .footerword {
            text-align: center;
            padding-top: 2vh;
            gap: 2vw;
            margin: 2vw;
        }  
        .sumbit {
            /* font-size: 14px; */
            text-decoration: auto;
            width: 30%;
            /* margin-right: 64%; */
            background-color: #8f8069;
            color: white;
            padding: 1%;
            border: none;
            /* border-radius: 4px; */
        }
        
    }@media only screen and (max-width:320px){
        .topnav {
            background-color: rgb(0, 0, 0);
            position: absolute;
            height: 8%;
            width: 147%;
            top: 0;
            opacity: 0.7;
            z-index: 2;
        }.topnav #logo {
            color: aliceblue;
            float: left;
            text-decoration: underline;
            padding-top: 0.5%;
            padding-right: 1px;
            padding-bottom: 10px;
            padding-left: 1%;
            font-size: small;
            font-family: Brush script MT;
    }
     footer {
        background-color: black;
        color: aliceblue;
        width: 146%;
    }.divfooter {
        display: flex
    ;
        height: 18vh;
        width: 89vw;
        margin: auto;
    }
    .footerimg {
        height: 5vh;
        width: 14vw;
    }
    .topnav a {
        color: aliceblue;
        float: right;
        font-size: 0.6rem;
        padding-top: 3vh;
        padding-right: 0vh;
        padding-bottom: -1vh;
        padding-left: 3vh;
        text-decoration: none;
    }.izuv{
        /*    
             height:350px;
            width: 40%; */
            margin: 5% auto 5% auto;
            border-radius: 5px;
            padding: 184px;
            direction: rtl;
            color:black;
            text-align: center;
        }   h1 {
        font-size: 2rem;
    }h2 {
        font-size: 2rem;
    }
    .marq {
        width: 100%;
        border-radius: 4px;
        margin-right: 16%;
        margin-block: -171%;
        margin-bottom: 0%;
    }  .sumbit {
        /* font-size: 14px; */
        text-decoration: auto;
        width: 30%;
        /* margin-right: 64%; */
        background-color: #8f8069;
        color: white;
        padding: 1%;
        border: none;
        /* border-radius: 4px; */
    }
    }