
body {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;    background-image: url(pages/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
header{
    grid-area: header;
    }
    .topnav {
        background-color: rgba(0, 0, 0, 0.733);
        height: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1%;
        font-size: 3vb;
        color: white;
        z-index: 999;
        position: fixed;
        width: 97vw;
        padding-top: 0%;
    }
    .topnav a {
        color: aliceblue;
        float: right;
        font-size: 17px;
        padding-top: 23px;
        padding-right: 16px;
        padding-bottom: 23px;
        padding-left: 23px;
        text-decoration: none;
    }
    .topnav #logo {
        color: aliceblue;
        float: left;
        text-decoration: underline;
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 23px;
        padding-left: 23px;
        font-size:large;
        font-family: Brush script MT;
    }
    .topnav a:hover {
        opacity: 0.6;
        color:#8f8069;
        
    }h3::after{
        content: "~";
        color: black;
    }
    footer {
        background-color: black;
        color: aliceblue;
      
    }
    .divfooter {
        display: flex;
        height: 150px;
        width: 50%;
        margin: auto;
    }
    .footerimg {
        height: 40px;
        width: 40px;
    }
    .footerword {
        width: 25%;
        text-align: center;
        padding-top: 15px;
    }
    .footernum {
        font-size: 200%;
    }
    .ikon img {
        height: 38px;
        width: 38px;
        padding-left: 0.2%;
        padding-right: 0.2%;
        padding-bottom: 0.4%;
        padding-top: 0.4%;
    }
    .ikon {
        text-align: center;
        padding-bottom: 1%;
    }
.mainvideo{
        width: 99vw;
        display: grid;
        grid-row: 2 / 3;
        height: 100%;
        padding-top: 0;
        z-index: 1;
    }
    a {
    text-decoration: none;
    color: white;

}
.cont {
    opacity: 0.4;
    /* height: 331px;
    width: 32%; */
    margin: 5% auto 5% auto;
    border-radius: 5px;
    /* background-color: black; */
    padding: 184px;
    direction: rtl;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15vh;
}
h1{
    font-size:  55px;;
}
h2{
    font-size:50px;
}
h3{
    font-size: 35px;
   } 
   .arrow {
    width: 5vw;
    position: absolute;
    top: 9vh;
    left: 14vw;
    z-index: 2;}
    
@media only screen and (max-width:768px){
    /* .topnav #logo {
        color: aliceblue;
        float: left;
        text-decoration: underline;
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 23px;
        padding-left: 23px;
        font-size: larger;
        font-family: Brush script MT;} */
        h1{
            font-size: 214%;
        }
        .topnav {
            background-color: rgba(0, 0, 0, 0.733);
            height: 6vh;
            display: flex
        ;
            flex-direction: row;
            justify-content: space-between;
            padding: 1%;
            font-size: 3vb;
            color: white;
            z-index: 999;
            position: absolute;
            width: 137vw;
            padding-top: 0%;
        }.footerword {
            text-align: center;
            padding-top: 2vh;
            gap: 2vw;
            margin: 2vw;
        }  footer {
            background-color: black;
            color: aliceblue;
            WIDTH: 139VW;
        }
        
}@media only screen and (max-width:320px){
    .topnav {
        background-color: rgba(0, 0, 0, 0.733);
        height: 6vh;
        display: flex
    ;
        flex-direction: row;
        justify-content: space-between;
        padding: 1%;
        font-size: 3vb;
        color: white;
        z-index: 999;
        position: absolute;
        width: 144vw;
        padding-top: 0%;
    }
    .topnav #logo {
        color: aliceblue;
        float: left;
        text-decoration: underline;
        padding-top: 0.5%;
        padding-right: 1px;
        padding-bottom: 10px;
        padding-left: 2%;
        font-size: small;
        font-family: Brush script MT;
    }.topnav a {
        color: aliceblue;
        float: right;
        font-size: 2.5vw;
        padding-top: 3vh;
        padding-right: 0vh;
        padding-bottom: -1vh;
        padding-left: 5vh;
        text-decoration: none;
    }.top1 {
        font-size: 29px !important;
        font-weight: bolder;
        margin-right: 16vh;
        color: white;
        margin-top: 11vh;
    }
     .cont {
    opacity: 0.4;
    /* height: 331px;
    width: 32%; */
    margin: 5% auto 5% auto;
    border-radius: 5px;
    /* background-color: black; */
    padding: 164px;
    direction: rtl;
    color: black;
    text-align: center;
    margin-top: 15vh;
    margin-right: 3%;
}  
  h1 {
    font-size: 2rem;
    
}h2 {
    font-size: 1.5rem;
}footer {
    background-color: black;
    color: aliceblue;
    width: 146%;
}.divfooter {
    display: flex
;
    height: 18vh;
    width: 89vw;
    margin: auto;
}
.footerimg {
    height: 5vh;
    width: 14vw;
}
}